# IntelliJ / Android Studio
*.iml
.idea/
.idea/caches
.idea/libraries
.idea/modules.xml
.idea/workspace.xml
.idea/navEditor.xml
.idea/assetWizardSettings.xml

# Gradle
.gradle/
build/
**/build/

# Local
local.properties

# Android Studio captures
captures/
.externalNativeBuild
.cxx/

# OS
.DS_Store
Thumbs.db
